body > * {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-flow: column nowrap;
  background: hsl(0, 0%, 5%);
  color: #fff;
  min-height: 100vh;  
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

body > * > header {
  display: block;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
}

main {
  margin-top: 1em;
  min-height: 75vh;
}

.hero {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  color: #fff;
  padding: .25em .75em;
  margin: 0;
  flex: 0 1 auto;
  width: 100%;
  box-sizing: border-box;
}

.hero > header {
  display: inline-block;
  margin: 0;
  font-size: 1.5em;
  width: auto;
}

.hero .launchers {
  width: auto;
  margin: .25em;  
}

.hero .ww-launcher,
.hero .auth-launcher,
.hero .profile-launcher,
.post-nav button {
  display: inline-block;
  text-align: center;
  margin: .4em;
  padding: .1em .4em;
  font-size: 1.1em;
  border-radius: 4px;
  background: hsl(0, 0%, 10%);
  cursor: pointer;
}

.post, .post > * {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: .5em;
  background: hsl(0, 0%, 10%);
  color: #fff;
  border-radius: 4px;
}

.post {
  background: transparent;
  margin: 1em auto 1.5em auto;
  filter: drop-shadow(0 2px .5em rgba(0,0,0,.1));
}

.post.full {
  margin-top: .5em;
  flex-flow: column;
}

.post > .post-header > * {
  margin: 0 .5em;
}

.post > * {
  min-height: 95px;
}

.post>header > * {
  text-align: center;
}

.post>header h4,
.post>header h3 {
  margin: 0 0;
  cursor: pointer;
}

.post>header .author-name {
  font-style: italic;
  font-size: .92em;
}

.post > header .title {
  flex: 1 1 auto;  
  margin: .25em 0 .5em 0;
  font-size: 0.8em;
  text-align: left;
}

.post.full > * {
  margin-bottom: .5em;
}

.post article > *:last-child {
  margin-bottom: 0;
}

.post .votes {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: .5em;
  padding: .5em;
  font-size: 1.1em;
}

.post .votes .vote {
  cursor: pointer;
  transition: all 140ms ease-in;
}

.post .votes .vote.up:hover,
.post .votes .vote.up.selected {
  color: #ffb638;
}

.post .votes .vote.down:hover,
.post .votes .vote.down.selected {
  color: #ff145a;
}

.post .votes .vote.up::before {
  content: '🡅';
}
.post .votes .vote.down::before {
  content: '🡇';
}

.post > .content {
  margin: .25em .25em 0 .25em;
  padding: .75em .5em .5em .5em;
  justify-content: space-evenly;
  flex-flow: column;
  font-size: 1.1em;
}

.post .tags {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 250px;
  margin: .25em;
}

.tag {
  display: inline-block;
  margin: .1em .2em;
  padding: .2em .4em;
  line-height: 1.1;
  font-size: .88em;
  border-radius: .1em;
  color: hsl(0, 0%, 25%);
  text-shadow: 0 1px 2px rgb(0,0,0,.12);
  box-shadow: 0 2px 3px rgb(0,0,0,.12);
  background: var(--primary-color);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-flow: row wrap;
  margin: .5em 0 0 0;
  padding: .5em .25em;
  background: hsl(0, 0%, 8%);
  font-size: .8em;
}

footer header {
  margin: 0 0 .75em 0;
}

footer > section {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-flow: column;
  width: fit-content;
  max-width: 300px;
  height: 100%;
  margin: .5em;
}

footer a {
  line-height: 1.1;
  margin: .4em .25em;
}

.footer-links {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-flow: column;
  height: 100%;
}