body > * {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-flow: column nowrap;
  background: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 45%);
  min-height: 100vh;
  max-width: 100vw;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body > * > header > h1 {
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin: 0 .5em;
  font-weight: 600;
}

body > .background-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgb(0, 0, 0, .6);
  animation: bgc-fade-in 400ms ease-in;
}

@keyframes bgc-fade-in {
  from {
    background: rgb(0, 0, 0, .0);
  }
  to {
    background: rgb(0, 0, 0, .6);
  }
}

main {
  margin-top: 1em;
  min-height: 60vh;
}

.togglebox-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: .25em .75em;
}

.togglebox {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  background: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
  cursor: pointer;
  margin: 2px;
}

.togglebox input[type=checkbox] {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.togglebox>span {
  position: relative;
  display: inline-block;
  pointer-events: none;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  transform: scale(1.1);
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, .23);

  left: 0;
  top: 0;
  transition: all 100ms ease-in;
}

.togglebox input[type=checkbox]:checked+span {
  left: calc(100% - 20px);
  background: var(--primary-color);
  filter: brightness(1.1);
}

.hero {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  color: #000;
  padding: .1em .5em;
  margin: 0;
  margin-bottom: 1em;
  flex: 0 1 auto;
  width: 100%;
  box-sizing: border-box;
  background: var(--hero-color);
  box-shadow: 0 3px 5px rgb(0, 0, 0, .15);
}

.hero > header {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: .25em 0;
  font-size: 1.15em;
  color: hsl(0, 0%, 35%);
  width: auto;
  grid-area: logo;
}

.hero>header > h1 {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-shadow: 0 2px 3px rgb(0, 0, 0, .12);
  box-shadow: 0 1px 3px rgb(0, 0, 0, .15);
  padding: .5em;
  border-radius: 4px;
}

.hero>header>div {
  font-size: .95em;
  transition: all 140ms ease;
}

.hero>header>div:hover {
  font-weight: 600;
}

.hero>header a {
  text-decoration: none !important;
  color: hsl(0, 0%, 35%) !important;
}

.hero .launchers {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  grid-area: widgets;
  width: auto;
  margin: .25em;  
}

.hero .ww-launcher,
.hero .auth-launcher,
.hero .profile-launcher,
.post-nav button {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: .25em;
  padding: .3em .25em .25em .25em;
  font-size: 1.15em;
  line-height: 1;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px 4px hsla(34, 6%, 22%, 0.3), 0 0 3px rgb(0, 0, 0, .12);
}

.post-nav button {
  flex-flow: row wrap;
}

nav.tabs {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  grid-area: links;
}

nav.tabs a {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: .2em .5em;
  padding: .25em;
  background: hsl(39, 6%, 25%);
  color: hsl(0, 0%, 90%);
  line-height: 1.2;
  font-size: .95em;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  text-decoration: none !important;
  box-shadow: 0 2px 4px rgb(0, 0, 0, .12);
  transition: all 140ms ease-in;
}

nav.tabs a.active-route {
  background: var(--primary-color);
  color: #fff;
}

main[route-active="posts"] {
  position: relative;
  max-width: 920px;
}

main {
  padding-bottom: .25em;
}

main > section {
  color:hsl(0, 0%, 68%);
}

.tag-filter > input[name="tags"] {
  max-width: 120px;
  padding: .25em .5em;
  margin: .5em;
  color: #fff;
  background: hsl(0, 0%, 25%);
}

.tag-list-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.tag-list-container .list {
  margin: 0 .5em;
}

.tag-list-container .list > .tag {
  cursor: not-allowed;
}

.tag-list-container button {
  background: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 40%);
  color: var(--primary-color);
  padding: .1em .25em;
  margin: 0 .5em;
  cursor: pointer;
}

.post-list {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  min-height: 55vh;
}

.post, .post > * {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  border-radius: 2px;
}

.post {
  margin: 1em .5em;
}

.post:not(.full) {
  background: hsl(0,0%,23%);
  color: hsl(0, 0%, 80%);
  max-width: 380px;
  padding-left: 0;
}

main[route-active="no-content"] > :not(.no-content) {
  display: none;
}
main[route-active="posts"] > .no-content {
  display: none;
}

nav.quick-scroll {
  position: fixed;
  flex-direction: column;
  bottom: 2vh;
  right: 1vw;
  width: fit-content;
}

nav.quick-scroll > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  text-align: center;
  white-space: nowrap;
  border-radius: 100%;
  width: 1.2cm;
  height: 1.2cm;
  margin: .5em;
  background: #fff;
  color: var(--primary-color);
  line-height: 0;
  padding-bottom: .1em;
  cursor: all-scroll;
  filter: drop-shadow(0 2px 3px rgba(0,0,0,.14));
}

.post.full {
  position: relative;
  margin-top: .5em;
  padding-top: .5em;
  flex-flow: column;
  justify-content: flex-start;
  min-height: 60vh;
}

.post.full.with-comments {
  color: hsl(0, 0%, 75%);
  justify-content: space-between;
}

.post.full.with-comments header h3 {
  color: #fff;
}

.post.full>.post-header {
  padding-bottom: 1em;
  border-bottom: 1px solid hsl(0, 0%, 20%);
}

.post > .post-header > * {
  margin: 0 .5em;
}

.post-back-btn > span::before {
  margin: 0;
}

.post>.post-header h3 {
  margin: .25em 0 .5em 0;
  text-align: center;
  font-size: 1.9em;
  font-weight: 500;
  text-shadow: 0 2px 3px rgb(0, 0, 0, .12);
}

.post.full > header {
  padding: 0 .75em;
}

.post:not(.full)>header{
  padding: 0 .5em;
}

.post:not(.full)>header > .title {
  width: 100%;
  flex: 1 1 auto;
}

.post:not(.full)>header .title > h4 {
  color: #fff;
}

.post:not(.full)>header > * {
  text-align: center;
}

.post header h4,
.post:not(.full) header h3 {
  margin: 0 .5em;
  cursor: pointer;
}

.post>header .author-name {
  font-style: italic;
  font-size: .92em;
}

.post>header .author-name,
.post>header .posted {
  margin: 0 .5em;
}

.post>header .posted {
  font-size: .95em;
  color:hsl(0, 0%, 60%);
}

.post:not(.full)>header .posted {
  width: 100%;
}

.post>header .title {
  flex: 1 1 auto;  
  margin: .25em 0 .5em 0;
  overflow: hidden;
}

 .post.full>header .title {
   text-align: left;
 }

.post>header .title > h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.38em;
  max-width: 98%;
  padding: 2px 0;
  margin: 0;
}

.post.full > * {
  margin-bottom: .5em;
}

.post.full>header {
  flex-flow: column;
}

.post.full>header>div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: .5em 0 0 0;
  font-size: .95em;
}

.post.full>header>div:first-of-type {
  margin-top: 0;
}

.post.full .post-title {
  width: 100%;
}

.post.full .tags {
  margin: 0;
  justify-content: flex-start;
  max-width: 100%;
}

.post article > *:last-child {
  margin-bottom: 0;
}

.votes {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row wrap;
  margin-right: .75em;
  padding: 0 .25em 0 .5em;
}

.post > .votes {
  height: 100%;
}

.comment .votes {
  flex-flow: row wrap;
}

.comment .votes > .vote-count {
  margin: .25em;
  padding: 0;
}

.votes .vote {
  font-family: 'fontello';
  font-size: 1.2em;
  cursor: pointer;
  /*border: 3px solid transparent;*/
  transition: all 140ms ease-in;
  margin: 0px 0px 0px 0px !important;
}

.votes .vote.up:hover,
.votes .vote.up.selected {
  color: #ffb638;
}

.votes .vote.down:hover,
.votes .vote.down.selected {
  color: #ff145a;
}

.votes .vote-count {
  white-space: nowrap;
  padding: 0 .25em;
  margin: .5em 0;
}

.votes .vote-count .endbits {
  font-size: .75em;
}
.votes .vote-count .marker {
  color: hsl(44, 68%, 80%);
}

.await-vote {
  animation: await-vote-move-around 200ms ease-in infinite alternate;
}

@keyframes await-vote-move-around {
  0% {
    transform: rotateZ(-90deg) translateX(5px) translateY(5px);
  }
  100% {
    transform: rotateZ(90deg) translateX(-5px) translateY(-5px);
  }
}

.post > .content {
  margin: 1.25em 0 1em 0;
  padding: 1em 4vw;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 1.15em;
  line-height: 1.3;
  min-height: 35vh;
}

.post .tags {
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  max-width: 250px;
  overflow: hidden;
  margin: .25em;
}

.tag {
  display: inline-block;
  margin: .1em .2em;
  padding: .2em .4em;
  line-height: 1.1;
  font-size: .95em;
  text-shadow: 0 1px 2px rgb(0,0,0,.15);
  color: var(--highlight-color);
  cursor: pointer;
}

.tag::before {
  content: '#';
  color: hsl(0, 0%, 65%);
}

.post-pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.post-pagination>* {
  color: hsl(0, 0%, 50%);
  font-weight: 600;
  font-size: 1.2em;
  text-shadow: 0 1px 3px hsla(0, 12%, 63%, 0.25);
  border-radius: 4px;
  padding: .25em;
  margin: .25em;
  transition: all 140ms ease-in;
}

.post-pagination>.page-back,
.post-pagination>.page-forward {
  cursor: pointer;
}

.post-pagination>.page-back:hover,
.post-pagination>.page-forward:hover {
  color: #ffb638;
}

.post .comments {
  flex-flow: column;
  justify-content: center;
  margin: 1em 0 0 0;  
  padding: 0 .5em;
  padding-top: .75em;
  padding-bottom: .25em;
  line-height: 1.3;
  border-top: 1px solid hsl(0, 0%, 20%);
  
}

.comment-list > .comment:first-of-type {
  padding-top: 0;
}

.comment-writer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 .5em;
  margin-bottom: .5em;
}

.comments > * {
  width: 100%;
}

.comments  textarea {
  margin-bottom: .5em;
  border: 0;
  min-height: 90px;
  background: hsl(0,0%,30%);
  color: #fff;
  box-shadow: inset 0 1px 5px rgb(0,0,0,.12);
}

.comments button {
  margin-right: .5em;
  cursor: pointer;
}

.comments>header {
  margin-bottom: .5em;
}

.comments > header > h4 {
  color:#fff;
  font-size: 1.25em;
}

.comment-controls {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.comment-controls > * {
  margin: .25em .5em;
}

.comment-controls > .togglebox-container {
  margin-right: .75em;
  align-self: flex-start;
}

.comment-controls .togglebox-container label {
  font-size: .8em;
}

.comment-controls .togglebox {
  background: hsl(0, 0%, 90%);
}

.comment-controls .togglebox > span {
  background: hsl(0, 0%, 99%);
}

.comment-controls .togglebox input[type=checkbox]:checked+span {
  background: var(--primary-color);
  filter: brightness(.9);
}

.comment-list {
  position: relative;
  padding: 0 .25em;
}

.comment-list .comment {
  position: relative;
  display: block;
  background: transparent;
  margin: .5em 0;
}

.comment-list > .comment {
  padding-top: 1.25em;
  margin-top: .75em;
  border-top: 1px solid hsl(0, 0%, 95%);
}

.comment-list>.comment:first-of-type {
  border-top: 0;
  padding-bottom: .5em;
}

.comment-content {
  border-radius: 4px;
  padding: .25em;
  background: hsl(0, 0%, 18%);
  box-shadow: 0 0 3px rgb(0, 0, 0, .1), 0 2px 5px rgb(0, 0, 0, .1);
}

.comment-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;

  font-size: .8em;
  color: hsl(0, 0%, 68%);
  margin: .2em 0;
  padding-bottom: .4em;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}

.comment .content {
  display: block;
  padding-left: .5em;
  width: 100%;
  margin: 0;
  font-size: 1.05em;
  margin-top: .2em;
  padding-top: .5em;
}

.comment .children {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.comment .children .comment {
  margin-left: 1%;
  border-left: 1px solid hsl(0, 0%, 30%);
  width: 99%;
}

.comment.hidden-children .children {
  position: absolute;
  display: none;
  opacity: 0;
  pointer-events: none;
}

.comment .content h1 {
  font-size: 2em;
}
.comment .content h2 {
  font-size: 1.8em;
}
.comment .content h3 {
  font-size: 1.6em;
}
.comment .content h4 {
  font-size: 1.4em;
}
.comment .content h5 {
  font-size: 1.2em;
}
.comment .content h6 {
  font-size: 1.1em;
}

.comment-list .comment p:last-of-type {
  margin-bottom: .25em;
}

.comment span.delete {
  color:hsl(0, 79%, 59%);
  cursor: pointer;
  text-shadow: 0 1px 2px rgb(0,0,0,.12);
  margin: 0 .5em;
}

.comment-content > hr {
  margin: .75em auto .2em auto;
  max-width: 97%;
}

.btn-rack {
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 0;
  width: 97%;
  margin: .5em auto 0 auto;
}

.btn-rack button, .edit-btn {
  padding: 0 4px;
  background: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 65%);
  border: 1px solid hsl(0, 0%, 30%);
  box-shadow: none !important;
}

.idle-animation {
  cursor: wait;
  animation: idle-anim 600ms infinite alternate-reverse;
}

@keyframes idle-anim {
  from {
    transform: rotateX(0deg) translateY(5px);
  }
  to {
    transform: rotate(360deg) translateY(-5px);
  }
}

span.txt-divider, span.divider, span.line-divider {
  display: inline-flex;
  align-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 .5em;
}

span.divider {
  margin: 0 2em;
  flex: 1 1 auto;
  width: max-content;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-flow: row wrap;
  margin: 1.5em 0 0 0;
  padding: 1em .75em;
  background: hsl(0, 0%, 11%);
  font-size: .8em;
}

footer header {
  margin: 0 0 .75em 0;
  color: hsl(0, 0%, 80%);
}

footer > section {
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column;
  width: fit-content;
  max-width: 420px;
  height: 100%;
  margin: .5em;
}

footer a {
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  line-height: 1.1;
  margin: .4em .25em;
  color: hsl(39, 6%, 50%);
}

footer picture {
  display: inline-block;
  margin-right: .5em;
}

footer img {
  display: inline-block;
  width: 2em;
  height: 2em;
  filter: drop-shadow(0 1px 3px rgba(0,0,0,.12));
  margin: 0 0;
}

footer span {
  margin: .25em;
}

.footer-links {
  display: inline-flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-flow: column;
  height: 100%;
}

.toast-container {
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  max-width: 280px;
  min-height: auto;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-end;
  text-align: left;
  flex-flow: column;
  margin: 1em 0 0 0;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, .25));
  z-index: 5;
}

.toast-container > .toast {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: left;
  flex-flow: row nowrap;
  padding: .25em .5em;
  margin: .25em .75em;
  min-height: 1cm;
  border-radius: .2em;
  color: #fff;
  background: hsl(0, 0%, 35%);
}

.toast-container>.toast.error {
  background: hsl(0, 79%, 59%);
  color: #2b2b2b;
}

.toast-container>.toast.error>.dismiss-btn {
  background: hsl(0, 0%, 42%);
}

.toast-container>.toast> *{
  margin-left: .25em;
  margin-right: .25em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.toast-container>.toast>.dismiss-btn {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 66, 66);
  margin: 0;
  padding: .25em .25em;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

.toast-container>.toast>.dismiss-btn > svg {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, .25));
}

main[route-active="books"] {
  max-width: 1200px;
  color: hsl(0, 0%, 85%);
}

main[route-active="books"] hr {
  border-color: hsl(0, 0%, 25%);
}

section.books > header {
  max-width: 950px;
  margin-bottom: 2em;
  overflow: hidden;
}

article.book {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 1.5em 0;
}

article.book header {
  font-size: 1.1em;
  text-shadow: 0 2px 3px rgb(0, 0, 0, .12);
}

article.book>div {
  display: inline-block;
  max-width: 800px;
  margin: .5em;
  font-size: .96em;
  overflow: hidden;
}

article.book>div>p{
  padding: 0 .5em;
  max-width: 780px;
  margin-bottom: 0;
}

article.book>div>header {
  margin-bottom: .5em;
  font-size: 1.25em;
  text-align: center;
}

article.book img {
  width: 217px;
  height: 345px;
  margin: .5em;
  box-shadow: 0 2px 4px 1px rgb(0, 0, 0, .12);
}

@media all and (max-width: 760px) {
  nav.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: .5em 0px;
    grid-template-areas: "logo""widgets""links";
    padding: .5em .25em;
  }

  main {
    padding: 0 6px;
  }

  main[route-active="posts"] .post,
  main[route-active="posts"] .post>*:not(.votes) {
    height: auto;
  }

  main[route-active="posts"] .post .title,
  main[route-active="posts"] .post .title * {
    width: 100%;
    text-align: center;
    white-space: normal;
  }

  main[route-active="posts"] .post .title {
    padding-top: .25em;
  }

  main[route-active="posts"] .post header > div:last-of-type {
    margin-top: 1em;
  }

  .post.full .tags {
    margin: .5em 0 0 0;
    justify-content: flex-start;
    max-width: 100%;
  }
}