<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/domlib.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/admin-do-ddns.js"></script>
</head>
<body>
    <h1>Admin Panel</h1>

</body>
</html>