<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/marx.min.css">
    <title>Admin Gateway</title>
</head>
<body>
    <h1>Admin Gateway</h1>
    <main>
        <input type="password" name="admin-key">
    </main>
    <script>
        const keyInput = document.querySelector('main > input[name="admin-key"]')
        keyInput.onkeyup = e => {e.key === 'Enter' && administer()}
        const administer = (key = keyInput.value) => {
            fetch('/administrality', {
                method: 'POST',
                headers:{'Content-Type': 'application/json'},
                body: JSON.stringify({key})
            })
            .then(res => res.json())
            .then(data => {
                console.log(data)
                window.location = '/admin'
            })
            .catch(e => {
                window.close()
            })
            keyInput.remove()
        }
    </script>
</body>
</html>