<section class="books">
    <header><h1>Books</h1></header>
    <div>
        <article class="book">
            <a href="https://www.amazon.com/dp/B07Z57C9KM" target="_blank" rel="noopener noreferrer">
                <img src="/media/TLTR-cover.jpg" alt="book cover">
            </a>
            <div>
                <header>
                    The Lives and Times of the Resigned
                </header>
                <p>
                    In a future near you, where life is post - scarcity and technology has excelled beyond the perception of slowness, a new phenomenon has swept away 37 % of the total human population into a state of permanent resignation, whereby they are removed from all direct human to human communication and now choose to live within nearly boundless forests of their own fantasies and simulacra.
                    <br><br>
                    What follow are the lives, times, and situations of those who have resigned from life.
                </p>
            </div>
        </article>

        <hr>

        <article class="book">
            <a href="https://www.amazon.com/dp/B08FCMTRS9" target="_blank" rel="noopener noreferrer">
                <img src="/media/PNP-cover-new.jpg" alt="book cover">
            </a>
            <div>
                <header>
                    Pessimisticities, Nihilisms, & Politics!
                </header>
                <p>
                    This is a book full of pessimistic fragments and aphorisms about or revolving around:
                        individuality and extreme introversion, misanthropy, feelings and laundry, work and slavery, antinatalism, moral nihilism, political ideas, freedom, suicide, dying and the hereafter, general nihilism about purpose but not Truth, futility, the nonexistence of free will, moral responsibility, philosophy, values, writing, thoughts around both neorationalism and the dark enlightenment, and all that kind of thing.
                    <br><br>
                    Aside from pessimism,
                    if there is a general theme, then it would be exploring and thinking through the relationship between groups and individuals.
                    <br><br>
                    For a better picture,
                    while perhaps not as good, in terms of style and structure the book is something raw and informal sat somewhere in between Fernando Pessoa(personality and hypocrisy), Emil Cioran(outlook and melodrama), and Nietzsche 's Genealogy of Morals (structure, hammering, and topics of focus).
                </p>
            </div>
        </article>

        <hr>

        <article class="book">
            <a href="https://www.amazon.com/dp/B07ZKXSHLM" target="_blank" rel="noopener noreferrer">
                <img src="/media/morsels-cover.jpg" alt="book cover">
            </a>
            <div>
                <header>
                    Morsels for the Depressed, Depraved, Pessimistic, and otherwise declining
                </header>
                <p>
                    Aphorisms, Fragments, and Flash fiction, also some poetry,
                    for all who are lost and not particularly looking to be found.
                    <br><br>
                    There are morsels touching on: Nihilism, Pessimism, Misanthropy, Antinatalism,
                        Free Will, Futility, Collapse, Doom, Gloom, Morality and Moral Nihilism,
                        Philosophy, Sappy feelings and getting hurt,
                        Art, as well as rough and dirty speculations on this and that.
                    <br><br>
                    Morsels is my first book, and it is in all honesty, a bit rough around the edges.If you want something a little meatier and less naive, then perhaps
                    try my second book of fragments called "Pessimisticities, Nihilisms, & Politics!", which is an awkward title to be sure, but as a book it has substance to it.
                    <br><br>
                    Morsels has two sections to it: the first section is purely aphorisms, and the second section is a mix of short flash fiction dialogues, fragments, and poetry.
                </p>
            </div>
        </article>

    </div>
</section>