<footer>
    <section>
        <header>
            Support Us
        </header>

        <div class="footer-links">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=saul@kurshok.space&lc=US&item_name=Help+keep+kurshok.space+online+and+its+devs+sheltered&no_note=0&cn=&curency_code=USD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
                <picture>
                    <img src="/css/SuperTinyIcons/paypal.svg" alt="Paypal logo">
                </picture>
                Donate via Paypal <br>
                <span> email: saul@kurshok.space</span>
            </a>
            <a href="https://m.do.co/c/6564219d6c9a">
                <picture>
                    <img src="/css/SuperTinyIcons/digitalocean.svg" alt="Digital Ocean logo">
                </picture>
                Use our Digital Ocean referral link
            </a>
            <a href="https://etherscan.io/address/0x0bac497c4d77a6eab1531b7341c829400944d30e">
                <picture>
                    <img src="/css/SuperTinyIcons/ethereum.svg" alt="Ethereum logo">
                </picture>
                <b>ETH: </b> 0x0Bac497c4D77A6eab1531b7341c829400944D30e
            </a>
        </div>
    </section>
    <section>
        <header>
            Other Links
        </header>
        <div class="footer-links">
            <a href="/privacy-policy">
                Privacy Policy
            </a>
            <a href="https://github.com/SaulDoesCode/kurshok.space">
                <picture>
                    <img src="/css/SuperTinyIcons/opensource.svg" alt="Open Source logo">
                </picture>
                Kurshok Source Code
            </a>
            <a href="https://github.com/SaulDoesCode">
                <picture>
                    <img src="/css/SuperTinyIcons/github.svg" alt="Github logo">
                </picture>
                Github
            </a>
            <a href="https://www.amazon.com/s/ref=dp_byline_sr_ebooks_1?ie=UTF8&field-author=Saul+van+der+Walt&text=Saul+van+der+Walt&sort=relevancerank&search-alias=digital-text">
                <picture>
                    <img src="/css/SuperTinyIcons/amazon.svg" alt="Amazon logo">
                </picture>
                Amazon Books
            </a>
        </div>
    </section>
</footer>