<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grimstack</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/site.min.css">
    <script src="/js/domlib.min.js"></script>
    <script src="/js/site.min.js" defer></script>
</head>
<body>
    <header class="site-logo">
        <h1>Grimstack</h1>
    </header>

    <aside class="stray-thoughts">
        <header>stray thoughts</header>
    </aside>

    <main class="content-display">
        
    </main>
</body>
</html>