<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Kurshok</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="modulepreload" href="/js/domlib.min.js">
    <link rel="modulepreload" href="/js/router.min.js">
    <link rel="modulepreload" href="/js/site.min.js">
    {% if not dev_mode or dev_mode is undefined  %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/fontello/css/fontello.min.css">
    <link rel="stylesheet" href="/css/site.min.css">
    {% if username is undefined %}
    <link rel="stylesheet" href="/css/auth.min.css">
    {% else %}
    <link rel="stylesheet" href="/css/postauth.min.css">
    {% endif %}
    <script src="/js/view.min.js" type="module"></script>
</head>
<body>
    <nav class="hero">
        <nav class="tabs">
            <a href="#posts" route-link="posts">
                <span class="icon-doc-inv"></span>
                <span class="txt">Posts</span>
            </a>
            <a href="#books" route-link="books">
                <span class="icon-book"></span>
                <span class="txt">Books</span>
            </a>
        </nav>

        <header>
            <h1>Kurshok</h1>
            <div>For the brainsick ones</div>
        </header>

        <section class="launchers">
        {% if username is defined %}
            {% if is_writer %}
                <button class="ww-launcher" title="open up the writ writer and post something">
                    Writ Writer
                </button>
            {% endif %}

            <button class="profile-launcher" title="click to see or build your profile">
                {{ username }}
            </button>
            <script type="module" defer>
                import app from '/js/site.min.js'
                app.user = { username: "{{ username }}".trim() }
                import('/js/profile.min.js')
                // d.once.click('.profile-launcher', () => {})
                {% if is_writer %}
                app.d.once.click('.ww-launcher', () => import('/js/writ-writer.min.js'))
                {% endif %}
            </script>
        {% else %}
            <button class="auth-launcher" title="click for a login or signup modal">
                <span class="icon-lock"></span>
                Auth
            </button>
            <script type="module" defer>
                import app from '/js/site.min.js'
                app.oneTimeAuthLauncher = app.d.once.click('.auth-launcher', async e => {
                    e.preventDefault()
                    import('/js/auth.min.js')
                })
            </script>
        {% endif %}
        </section>
    </nav>

    <main class="content-display" route-active></main>

    <footer>
        <section>
            <header>
                Support Us
            </header>

            <div class="footer-links">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=saul@kurshok.space&lc=US&item_name=Help+keep+kurshok.space+online+and+its+devs+sheltered&no_note=0&cn=&curency_code=USD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
                    <picture>
                        <img src="/css/SuperTinyIcons/paypal.svg" alt="Paypal logo">
                    </picture>
                    Donate via Paypal <br>
                    <span> email: saul@kurshok.space</span>
                </a>
                <a href="https://m.do.co/c/6564219d6c9a">
                    <picture>
                        <img src="/css/SuperTinyIcons/digitalocean.svg" alt="Digital Ocean logo">
                    </picture>
                    Use our Digital Ocean referral link
                </a>
                <a href="https://etherscan.io/address/0x0bac497c4d77a6eab1531b7341c829400944d30e">
                    <picture>
                        <img src="/css/SuperTinyIcons/ethereum.svg" alt="Ethereum logo">
                    </picture>
                    <b>ETH: </b> 0x0Bac497c4D77A6eab1531b7341c829400944D30e
                </a>
            </div>
        </section>
        <section>
            <header>
                Other Links
            </header>
            <div class="footer-links">
                <a href="/privacy-policy">
                    Privacy Policy
                </a>
                <a href="https://github.com/SaulDoesCode/kurshok.space">
                    <picture>
                        <img src="/css/SuperTinyIcons/opensource.svg" alt="Open Source logo">
                    </picture>
                    Kurshok Source Code
                </a>
                <a href="https://github.com/SaulDoesCode">
                    <picture>
                        <img src="/css/SuperTinyIcons/github.svg" alt="Github logo">
                    </picture>
                    Github
                </a>
                <a href="https://www.amazon.com/s/ref=dp_byline_sr_ebooks_1?ie=UTF8&field-author=Saul+van+der+Walt&text=Saul+van+der+Walt&sort=relevancerank&search-alias=digital-text">
                    <picture>
                        <img src="/css/SuperTinyIcons/amazon.svg" alt="Amazon logo">
                    </picture>
                    Amazon Books
                </a>
            </div>
        </section>
    </footer>

    <template-file route="books" src="/books.html"></template-file>
</body>
</html>