<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="For the pessimists, coders, and brainsick ones, who fall not into the self-righteous abyss of subjectivism and correlationism">
    <meta name="keywords" content="blog, pessimism, misanthropy, antinatalism, programming, coding, Rust, aphorisms, books, realism, poetry">
    <title>Kurshok</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="modulepreload" href="/js/domlib.min.js">
    <link rel="modulepreload" href="/js/router.min.js">
    <link rel="modulepreload" href="/js/site.min.js">
    {% if not dev_mode or dev_mode is undefined  %}
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/fontello/css/fontello.min.css">
    <link rel="stylesheet" href="/css/site.min.css">
    {% if username is undefined %}
    <link rel="stylesheet" href="/css/auth.min.css">
    {% else %}
    <link rel="stylesheet" href="/css/postauth.min.css">
    {% endif %}
    <script src="/js/view.min.js" type="module"></script>
    <template-file route="books" src="/books.html"></template-file>
    <template-file route="whats-in-the-name" src="/whats-in-the-name.html"></template-file>
</head>
<body>
    <nav class="hero">
        <nav class="tabs">
            <a href="#posts" route-link="posts">
                <span class="icon-doc-inv"></span>
                <span class="txt">Posts</span>
            </a>
            <a href="#books" route-link="books">
                <span class="icon-book"></span>
                <span class="txt">Books</span>
            </a>
        </nav>

        <header>
            <h1 onclick="location.hash='posts'">Kurshok</h1>
            <div>
                <a route-link="whats-in-the-name" href="#whats-in-the-name">
                    For the brainsick ones
                </a>
            </div>
        </header>

        <section class="launchers">
        {% if username is defined %}
            {% if is_writer %}
                <button class="ww-launcher" title="open up the writ writer and post something">
                    Writ Writer
                </button>
            {% endif %}

            <button class="profile-launcher" title="click to see or build your profile">
                {{ username }}
            </button>
            <script type="module" defer>
                import app from '/js/site.min.js'
                app.user = { username: "{{ username }}".trim() }
                import('/js/profile.min.js')
                // d.once.click('.profile-launcher', () => {})
                {% if is_writer %}
                app.d.once.click('.ww-launcher', () => import('/js/writ-writer.min.js'))
                {% endif %}
            </script>
        {% else %}
            <button class="auth-launcher" title="click for a login or signup modal">
                <span class="icon-lock"></span>
                Auth
            </button>
            <script type="module" defer>
                import app from '/js/site.min.js'
                app.oneTimeAuthLauncher = app.d.once.click('.auth-launcher', async e => {
                    e.preventDefault()
                    import('/js/auth.min.js')
                })
            </script>
        {% endif %}
        </section>
    </nav>

    <main class="content-display" route-active></main>

{% include "footer.html" %}
</body>
</html>