<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{email_type}} Email</title>
</head>
<body style="font-family: Nunito, Verdunda, Helvetica, Roboto, sans-serif; text-align: center; color: hsl(0,0%,30%); background: hsl(0,0%,99%);">
  <main style="display: block; position: relative; margin: 15px auto; padding: 5px 15px 15px 15px; max-width: 420px; background: #FFF; box-shadow: 0 2px 8px hsla(0,0%,0%,.12); border-radius: 2.5px;">
    <h3>Hi there {{username}}!</h3>
    Please follow the verification link to login to {{domain}}.
    <br>
    <a href="https://{{domain}}/auth/{{magic_code}}" style="display: block; font-size: 1.2em; font-weight: 600; margin: 10px auto; max-width: 180px; padding: 8px; border-radius: 2.5px; text-decoration: none; color: #fff; background: hsl(0,0%,30%); box-shadow: 0 2px 6px hsla(0,0%,0%,.12); text-shadow: 0 1px 3px hsla(0,0%,0%,.12);">
      Login
    </a>
    <br>

    {% if dev_mode %}
      <a href="https://192.168.8.102/auth/{{magic_code}}">Dev link for indirect auth</a>
    {% endif %}

    <footer>
      Note, this link will expire in about 5 minutes, just log in again from <a href="https://{{domain}}" style="color: inherit;">{{domain}}</a>
      if it doesn't work.
    </footer>
  </main>
</body>
</html>