<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grimstack Magic-link Verification Page</title>
</head>
<body>
    <h1>Grimstack Magic-link Verification Page</h1>
{% if indirect is defined %}
    <main>
        <h3>Indirect Authentication</h3>
        <p>
            <b>All good!</b><br/>
            This page will close itself in 5 seconds.

            You should be logged in now on the same screen
            where you entered your username and email.
        </p>
    </main>
    <script>
        setTimeout(() => {
            window.close()
        }, 5000)    
    </script>
{% else %}
    <script>
{% if dev_mode %}
        setTimeout(() => {
            window.location = '/'
        }, 25000)
{% else %}
        window.location = '/'
{% endif %}
    </script>
{% endif %}

</body>
</html>