<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kurshok Space</title>
  <link rel="stylesheet" href="/css/marx.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js" type="module"></script>
  {% include 'head-imports.html' %}
</head>

<body>
  <header>
    <div>
      <h1>Kurshok Space</h1>
    </div>
    <div>
      <nav>
        <section class="dropdown">
          <header>Links</header>
          <div>
            <div>Link 1</div>
            <div>Link 2</div>
            <div>Link 3</div>
            <div>Link 4</div>
            <div>Link 5</div>
          </div>
        </section>

        <section class="dropdown {% if username is undefined %}dropdown-auth{% endif %}">
          <header>Auth</header>
          <div>
            {% if username is undefined %}
            <div class="auth auth-launcher 🔑">
              Open Auth Box
            </div>
            <script src="/js/auth.min.js" type="module" defer></script>
            <script type="module">
              import app from '/js/site.min.js'
              app.loadStyle('/css/auth.min.css')
            </script>
            {% else %}
            <script src="/js/profile.min.js" type="module" defer></script>
            <script type="module">
              import app from '/js/site.min.js'
              app.loadStyle('/css/postauth.min.css')
            </script>
            <div>Account</div>
            <div>Logout</div>
            {% endif %}
          </div>
        </section>

      </nav>
    </div>
  </header>

  <main>

  </main>

</body>

</html>