<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Kurshok</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="modulepreload" href="/js/domlib.min.js">
{% if not dev_mode or dev_mode is undefined  %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap" rel="stylesheet">
{% endif %}
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/fontello/css/fontello.min.css">
    <link rel="stylesheet" href="/css/site.min.css">
{% if user is undefined %}
    <link rel="stylesheet" href="/css/auth.min.css">
{% else %}
    <link rel="stylesheet" href="/css/postauth.min.css">
{% endif %}
    <script src="/js/site.min.js" type="module" defer></script>
</head>

<body>
    <nav class="hero">
        <header>
            <h1>Kurshok</h1>
            <div>For the brainsick ones</div>
        </header>

    {% if user is defined %}
        <button class="profile-launcher" title="click to see or build your profile">
            {{ user.username }}
        </button>
        <script type="module" defer>
            import app from '/js/site.min.js'
            app.user = { 
                username: "{{ user.username }}".trim(),
                id: "{{ user.id }}",
                handle: "{{ user.handle }}"
            }
            import('/js/profile.min.js')
            // d.once.click('.profile-launcher', () => {})
            {% if is_writer %}
            app.d.once.click('.ww-launcher', () => import('/js/writ-writer.min.js'))
            {% endif %}
        </script>
    {% else %}
        <button class="auth-launcher" title="click for a login or signup modal">Auth</button>
        <script type="module" defer>
            import d from '/js/domlib.min.js'
                d.once.click('.auth-launcher', async e => {
                    e.preventDefault()
                    import('/js/auth.min.js')
                })
        </script>
    {% endif %}
    </nav>

    <main class="content-display" route-active="{{ public_writ.id }}">
        <nav class="post-nav">
            <button class="post-back-btn" onclick="location = '/#posts'">
                <span class="icon-left-open"></span>
                Back to Post List
            </button>
        </nav>
        <section class="post full">
            <header class="post-header">
                <div>
                    <h3 class="post-title">{{ public_writ.title }}</h3>
                    <div class="author-name">By {{ public_writ.author_name }}</div>
                    <div> ● </div>
                    <div class="posted">
                        {{ public_writ.posted }}
                    </div>
                    <div class="tags">
                    {% for tag in public_writ.tags %}
                        <span title="{{tag}}" class="tag">{{tag}}</span>
                    {% endfor %}
                    </div>
                </div>
            </header>
            <article class="content">
                {{ public_writ.content }}
            </article>
        </section>
    </main>

{% if public_writ.commentable %}
<script defer type="module">
    import "/js/comments.min.js"
    app.postID = "{{ public_writ.id }}"
    app.renderComments(app.postID)
</script>
{% endif %}
<script defer type="module">
    import app from '/js/site.min.js'
    app.uponDayjsLoaded(() => {
        const postedEl = app.d.query('.post .posted')
        const posted = Number(postedEl.textContent.trim())
        postedEl.innerHTML = ''
        postedEl.appendChild(
            app.renderUXTimestamp(posted)
        )
    })
</script>

{% include "footer.html" %}
</body>

</html>