<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/site.min.css">
</head>

<body>
    <nav class="hero">
        <header>Grimstack</header>
    </nav>
    <br/>
    <main class="content-display">
        <h1>Privacy Policy</h1>
        <section>
            <p>
                Grimstack does not track usage analytics or statistics. There is no data collection for things like page clicks, post views, or things like that. It is only with votes and subscriptions as a matter of functionality, that any data is stored, and all that this data is, is the id of the user and what they voted on or subscribed to, as well as when they did so. Aside from emails (when provided for the purpose of changing passwords or contacting admins), there are no personally identifying data collected by Grimstack, what is stored are essentially: <b>emails</b>, usernames, password hashes, <b>session cookies</b> for the authentication system, ip addresses (for ratelimiting & anti-spam), and the contents and metadata (title, timestamp, tags, author's user id) associated with posts, messages, and comments. 
            </p>
            <p>
                Thereby, a user should be aware that by using Grimstack they are voluntarrilly consenting to the use of session cookies to facilitate the website's authentication functionalities and to prevent spam and misuse of the website (ratelimiting). These cookies are not used for tracking, only for security purposes. Users may delete their account and its associated data at any time, or ask that an admin do so for them if there are technical problems.
            </p>
            <p>
                Grimstack does not store passwords, it only stores secure argon2 hashes. It should not be possible, in the event of a data breech, for malicious parties to infer a user's password from these hashes. However, if it is found that a data breech has occured, Grimstack will freeze all affected user accounts, so that these users may change their password upon a next login, after the problem has been addressed. 
            </p>
            <p>
                User generated content on Grimstack may always be deleted by authors. In the event that some technical fault or lack of sophistication in the software prevents a user from removing their content, they can contact an admin and ask that it be removed. That said, Grimstack is at the mercy of what users choose to comment or post, wherefore if there are issues with certain content, for example being unlawful or infringing on copywright or some such issue, upon becoming aware of this Grimstack may without warning remove the offending content and potentially ban the user responsible for it. Grimstack is not responsible for any personal information that a user may dissclose in their own posts, profiles, and coments.
            </p>
            
            <p>
                If you as a user of Grimstack have issues with the website in light of any of the above, then feel free to contact a grimstack admin via this email address:
                <b>
                <a href="mailto:admin@grimstakc.io">
                    admin@grimstack.io
                </a>
                </b>
            </p>
        </section>
    </main>

</body>

</html>