
<h1>What's in the name?</h1>
<hr>
<section class="content">

    <article>
        <header>
            <h3>
                The official story
            </h3>
        </header>
        <div class="name-sum">
            <div>
                <span>Kur: </span>
                <span>Albanian - </span>
                <span><b>When</b></span>
            </div>
            <div class="sign">
                <span> + </span>
            </div>
            <div>
                <span>Shok: </span>
                <span>Bengali - </span>
                <span><b>Mourning</b></span>
            </div>
            <div class="sign">
                <span> = </span>
            </div>
            <div>
                <span> Kurshok - </span>
                <span> When-Mourning </span>
            </div>
        </div>

        <div>
            <header>
                <h5>
                    Meaning?
                </h5>
            </header>
            <div>
                Kurshok is the space for things and thoughts that seem right when mourning or from the perspective of deathly pessimism or depresive realism
            </div>
        </div>
    </article>

    <article>
        <header>
            <h3>The unofficial story</h3>
        </header>
        <div>
            <p>
                The name takes after the amphibious Kurshok creatures in Thief 3 Deadly Shadows.
                Since correlationism is horse shit based on 
                <a href="https://web.maths.unsw.edu.au/~jim/worst.html">
                    the Worst Argument Ever
                </a>, and the non-brainsick Kurshok, like correlationists express doubts about the existence of the upside world, or reality and doing metaphysics, this space, this website, kurshok.space is thereby dedicated to the brainsick ones who dare to think extra-morally and of things in themselves. However, pessimism is also woefully true, and with the story of the Kurshok, echoing something of the Babylon story or the fate of Prometheus, it seemed right and maybe somewhat ironic to bring in the name kurshok bearing in mind how culture and the gods punish those who want to take ownership of themselves and the Truth regardless of how it hurts or who frowns upon it.
            </p>
        </div>
    </article>

</section>

<style>
    .name-sum {
        text-align: center;
    }
    
    .name-sum .sign {
        font-size: 1.3em;
    }

</style>