<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricacy Policy</title>
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/site.min.css">
</head>

<body>
    <nav class="hero">
        <header onclick="location = '/'">
            <h1>
                Kurshok
            </h1>
            <div>For the brainsick ones</div>
        </header>
    </nav>
    <main class="content-display">
        <h1>What's in the name?</h1>
        <section class="content">
            <div class="name-sum">
                <div>
                    <span>Kur: </span>
                    <span>Albanian - </span>
                    <span><b>When</b></span>
                <div class="sign">
                    <span> + </span>
                </div>
                <div>
                    <span>Shok: </span>
                    <span>Bengali - </span>
                    <span><b>Mourning</b></span>
                </div>
                <div class="sign">
                    <span> = </span>
                </div>
                <div>
                    <span> Kurshok - </span>
                    <span> When-Mourning </span>
                </div>
            </div>

        </section>
    </main>

<style>
    .name-sum {
        text-align: center;
    }
    
    .name-sum .sign {
        font-size: 1.3em;
    }

</style>

</body>

</html>